{% extends "construction/body.html" %}
{% block body %}
<div class="row">
 <div class="col-xs-12 col-12">
  <div class="card">
   <div class="card-header bg-primary text-white">
    <h5>{{ arsipmasuk.nomor }}</h5>
   </div>
   <div class="card-body">
	<dl>
		<dt>Nomor Brankas</dt><dd>- {{ arsipmasuk.arsip.nomor_brankas }}</dd>
		<dt>Jenis Arsip</dt><dd>- {{ arsipmasuk.arsip.get_jenis_display }}</dd>
		<dt>Tipe Arsip</dt><dd>- {{ arsipmasuk.arsip.get_tipe_display }}</dd>
		<dt>Divisi</dt><dd>- {{ arsipmasuk.arsip.get_divisi_display }}</dd>
		<dt>Unit</dt><dd>- {{ arsipmasuk.arsip.get_unit_display }}</dd>
		<dt>Status</dt><dd>- {{ arsipmasuk.arsip.get_status_display }}</dd>
	</dl>
   </div>
   <div class="card-footer">
    <a href="{% url 'arsip:index' %}" class="btn btn-secondary">Arsip</a>
	<a href="{% url 'arsip:detail' arsipmasuk.arsip.pk %}" class="btn btn-primary">Ubah</a>
	{% if arsip.status == 1 %}<button class="btn btn-info">Pengembalian</button>{% endif %}
   </div>
  </div>
 </div>
</div>
{% endblock %}