{% extends 'surat_base.html' %}
{% block body %}
<b>PT Trisetia Citra Pesona</b><br/>
<i>Jl. Tegar Beriman No. 1, Ruko Cibinong City Centre Blok B 30,<br/>Pakansari, Cibinong, Bogor, Jawa Barat</i>
<hr/>
<div class="title">BERITA ACARA</div>
<div class="sub-title">PENGAMBILAN ARSIP</div>
<div class="nomor">NOMOR : {{ arsipkeluar.nomor }}</div>
<p>Pada tanggal {{ arsipkeluar.tgl_dibuat|date:"d F Y" }} telah diambil dokumen dari arsip dengan rincian sebagai berikut :</p>
<table>
	<tr>
		<td width="2in">Kode Arsip</td>
		<td width="5in">: {{ arsipkeluar.arsip.pk }}</td>
	</tr>
	<tr>
		<td width="2in">Nomor Dokumen</td>
		<td width="5in">: {{ arsipkeluar.arsip.nomor_dokumen }}</td>
	</tr>
	<tr>
		<td width="2in">Nomor Penerimaan</td>
		<td width="5in">: {{ arsipkeluar.arsip.penerimaan.nomor }}</td>
	</tr>
	<tr>
		<td width="2in">Nomor Brankas</td>
		<td width="5in">: {{ arsipkeluar.arsip.nomor_brankas }}</td>
	</tr>
	<tr>
		<td width="2in">Divisi</td>
		<td width="5in">: {{ arsipkeluar.arsip.get_divisi_display }}</td>
	</tr>
	<tr>
		<td width="2in">Unit</td>
		<td width="5in">: {{ arsipkeluar.arsip.get_unit_display }}</td>
	</tr>
	<tr>
		<td width="2in">Tipe</td>
		<td width="5in">: {{ arsipkeluar.arsip.get_tipe_display }}</td>
	</tr>
</table>
<p>Demikian berita acara ini dibuat agar digunakan sebagaimana mestinya. Atas perhatiannya kami ucapkan terima kasih.</p>
<table>
	<tr>
		<td class="ttd">Menyerahkan,</td>
		<td class="ttd">Menerima,</td>
		<td class="ttd">Mengetahui,</td>
	</tr>
	<tr>
		<td style="text-align:center;">( {{ arsipkeluar.yang_menyerahkan }} )</td>
		<td style="text-align:center;">( {{ arsipkeluar.yang_menerima }} )</td>
		<td style="text-align:center;">( {{ arsipkeluar.yang_mengetahui }} )</td>
	</tr>
</table>
{% endblock %}